---
import { db, Image, User, eq, and, isNull } from "astro:db";
import Layout from "@/layouts/Layout.astro";
import DaysOfWeek from "@/components/DaysOfWeek.astro"
import Countdown from "@/components/Countdown.astro"
import Friland from "@/components/Friland.astro"
import IsFriday from "@/components/IsFriday.astro"
import { thumborImageUrl } from "@/utils/thumbor.util";
import { getDayOfWeek } from "@/utils/fliland.util";

const { headline } = getDayOfWeek();
const q = Astro.url.searchParams.get("q");

let requestedImageUrl: string | undefined = undefined;
let ogImageUrl: string | undefined = undefined;

if (q) {
  const row = await db
    .select({
      id: Image.id,
      approvedId: Image.approvedId,
      nickname: User.nickname,
    })
    .from(Image)
    .innerJoin(User, eq(User.id, Image.ownerId))
    .where(and(eq(Image.id, q), isNull(Image.deletedAt)))
    .get();

  if (!row || !row.approvedId) {
    return Astro.rewrite("/404");
  }

  requestedImageUrl =  thumborImageUrl("600x600", `${row.id}/${row.nickname}.webp`, true);
  ogImageUrl = thumborImageUrl("1200x630", `${row.id}/${row.nickname}.webp`, true);
}
---

<Layout title={headline} description="Pentru ca vinerea nu se face deploy" image={ogImageUrl}>
  <main class="flex flex-col items-center justify-center px-4 text-center gap-4">
    <DaysOfWeek />
    <IsFriday headline={headline}/>
    <Countdown />
    <Friland initialImageUrl={requestedImageUrl} initialImageId={q || null} />
  </main>
</Layout>
